#resume_container{
    position: relative;
    display: flex;
}
#resume_profile{
    flex: 15%;
    display: block;
    position: relative;
    margin: 5% 2% 0 10%;
    width: 100%;
    height: 100%;
}
#resume_info-cards{
    flex: 55%;
    display: block;
    margin-top: 5%;
    margin-right: 10%;
    width: 100%;
    height: 100%;
}
#resume_image{
    position: relative;
    overflow: hidden;
}
#resume_image,#profile-photo{
    position: relative;
    width: 80px;
    height: 80px;
    border-radius: 10px;
}
#resume_image > a{
    position: absolute;
    top:0;
    left:0;
    background: rgba(0,0,0,0.5) !important;
    height: 100%;
    width: 100%;
    display: none;
}
#resume_image > a > i{
    -webkit-text-stroke: 1px #ffffffdd;
    padding: 40%;
}
#resume_image:hover a{
    display: block;
}
#resume_name{
    font-size: 23px !important;
    line-height: 20px !important;
}
#resume_about,.resume_card > ul > li{
    padding: 0 0 0 15px;
    position: relative;
    display: inline-block;
    width: 100%;
}
#resume_about{
    font-size: 20px !important;
    padding: 0 !important;
}
#resume_name, #resume_about > p{
    font-weight: bolder;
    font-family: 'Open Sans', sans-serif;
}
#resume_email{
    font-size: 15px !important;
    font-weight: bold !important;
    font-family: 'Cutive Mono',monospace;
}
#resume_college,#resume_email,#resume_year-graduation,#resume_education,#resume_more-about,#resume_telephone,#resume_fax{
    color: #555;
    font-size: 13.5px;
}

#resume_social-links,#resume_about{
    display: inline-block;
}
#resume_social-links{
    margin-bottom: 12px;
}
#resume_social-links a{
    margin: 0 10px;
}
#resume_edit-intro{
    display: block;
    color:#097bbf;
    font-family: 'Nunito', sans-serif;
}
.resume_fab{
    font-size: 1.1em;
}
.resume_fab,.fas{
    color: whitesmoke;
}
#resume_about > a{
    top: 4px;
    right: 8px;
}
.resume_edit{
    top: 19px;
    right: 10px;
}
#resume_about > a, .edit{
    position: absolute;
    font-size: 15px !important;
}
.resume_stroke-transparent {
 -webkit-text-stroke: 1px #000;
 -webkit-text-fill-color: transparent;
}
.resume_blue{
    color: #097bbf !important;
    font-size: 13px;
}
.resume_stroke-transparent-blue {
 -webkit-text-stroke: 1px #097bbf;
 -webkit-text-fill-color: transparent;
}
.resume_card{
    box-shadow: 0 3px 10px 0 rgba(0,0,0,.1);
    overflow-x: hidden;
    margin-bottom: 30px;
    padding: 15px 30px 30px 30px;
    background-color: #fff;
}
.resume_card > p{
    color: #0e141e;
    font-weight: bolder;
    font-size: 18px;
    line-height: 2;
}
.resume_card > p > i{
    font-size: 18px;
}
.resume_card > a{
    font-weight: 400;
    font-size: 15px;
    margin: 0;
    margin-left: 25px;
    padding: 0;
    border: 0;
    height: auto;
    background: transparent;
    color: #097bbf;
    outline: none;
    cursor: pointer;
}
.resume_card > ul{
    list-style-type: none;
}
.resume_card ul{
    margin-left: 0;
    padding-left: 0;
    padding-right: 30px;
}
.resume_card ol{
    margin-left: 0;
    padding-left: 20;
    padding-right: 30px;
}
.resume_card table{
    border-collapse: collapse;
    font-size: 14px;
    font-weight: normal;
    color: #0e141e;
}
.resume_tags{
    font-size: 17px;
    font-weight: bolder;
    color: #464646
}
.resume_tags ~ a{
    display: none !important;
}
.resume_tags span{
    font-size: 14px;
    font-weight: normal;
    color: #0e141e;
}
.resume_tags span span{
    color: #738f93;
}
/* @media screen and (max-width:1090px){
    #profile{
        margin-left: 5%;
    }
} */
/* @media screen and (max-width:850px){
    #resume_container{
        display: block;
    }
    #resume_profile{
        width: 90%;
    }
    .resume_card{
        margin: 0 5%;
        margin-bottom: 30px;
    }
} */